@model Peluqueria.Models.Turno

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json


@{
    var usuarioLogueado = Context.Session.GetString("Usuario");
    var usuario = JsonConvert.DeserializeObject<Usuario>(usuarioLogueado);
}
<h1>Details</h1>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Atendido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Atendido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servicio.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.NombreCompleto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="IndexTurno">Volver a la lista</a>
</div>
