@model IEnumerable<Peluqueria.Models.Turno>
@{ ViewData["Title"] = "Index"; }
<link rel="stylesheet" href="~/css/indexStyle.css" />
<h1>Turnos</h1>
<p>
    <a asp-action="Create">Crear nuevo turno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atendido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Atendido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicio.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.NombreCompleto)
                </td>
                <td class="contendorBotones">
                    @if (!item.Atendido)
                    {
                     <a style="width: 32%" asp-action="Delete" asp-route-id="@item.Id"><button class="bottonEntidad"><i class="fas fa-trash-alt"></i></button></a>
                     <a style="width: 32%" asp-action="Edit" asp-route-id="@item.Id"><button class="bottonEntidad"><i class="fas fa-edit"></i></button></a>
                    }
                     <a style="width: 32%" asp-action="Details" asp-route-id="@item.Id"><button class="bottonEntidad"><i class="fas fa-eye"></i></button></a>
                    
                </td>
            </tr>}
    </tbody>
</table>