@model IEnumerable<Peluqueria.Models.Turno>

@{
    ViewData["Title"] = "Index";
}

<h1>Turnos</h1>

<p>
    <a asp-action="Create">Crear nuevo turno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atendido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Atendido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicio.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.NombreCompleto)
                </td>
                <td>
                  @if (!item.Atendido)
                    {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar </a> 
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar </a> 
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Ver</a>
</tr>
        }
    </tbody>
</table>